# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\study\多线程\JUC-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
